<div class="container my-5">
  <h1 class="text-center mb-5">{{title}}</h1>
  <form ng-submit="editUser()">
    <div class="form-group">
      <label for="check-in-date">Ngày Nhận Phòng</label>
      <input type="date" class="form-control" id="check-in-date" ng-model="userInput.dateCheckIn">
      
    </div>
    <div class="form-group">
      <label for="check-out-date">Ngày Trả Phòng</label>
      <input type="date" class="form-control" id="check-out-date" ng-model="userInput.dateCheckOut">
     
    </div>
    <div class="form-group">
      <label for="room-type">Loại Phòng</label>
      <select class="form-control" id="room-type" ng-model="userInput.loaiPhong">
        <option value="">Chọn loại phòng</option>
        <option value="Phòng đơn">Phòng đơn</option>
        <option value="Phòng đôi">Phòng đôi</option>
        <option value="Phòng cao cấp">Phòng cao cấp</option>
      </select>
      
    </div>
    <div class="form-group">
      <label for="num-guests">Số Lượng Khách</label>
      <input type="number" class="form-control" id="num-guests" min="1" ng-model="userInput.soluongkhach">
      
    </div>
    <div class="form-group">
      <label for="name">Tên Khách Hàng</label>
      <input type="text" class="form-control" id="name" ng-model="userInput.name">
      
    </div>
    <div class="form-group">
      <label for="name">Căn cước công dân</label>
      <input type="text" class="form-control" id="cccd" ng-model="userInput.cccd">
      
    </div>
    <div class="form-group">
      <label for="email">Email Khách Hàng</label>
      <input type="email" class="form-control" id="email" ng-model="userInput.email">
    
    </div>
    <div class="form-group">
      <label for="phone">Số Điện Thoại Khách Hàng</label>
      <input type="tel" class="form-control" id="phone" ng-model="userInput.sdt">
    
    </div>
    <button type="reset" class="btn btn-outline-secondary me-2">Nhập lại</button>
    <button type="submit" class="btn btn-warning" >Cập nhật</button>
  </form>
</div>